
.vs/SudokuSolver/v16/.suo
.vs/SudokuSolver/v16/Browse.VC.db
.vs/SudokuSolver/v16/Browse.VC.opendb
.vs/SudokuSolver/v16/Browse.VC.db-wal
.vs/SudokuSolver/v16/Browse.VC.db-shm
x64/Debug/SudokuSolver.exe
x64/Debug/SudokuSolver.ilk
x64/Debug/SudokuSolver.pdb
SudokuSolver/x64/Debug/vc142.pdb
SudokuSolver/x64/Debug/vc142.idb
SudokuSolver/x64/Debug/Tests.obj
SudokuSolver/x64/Debug/Test.obj
SudokuSolver/x64/Debug/SudokuSolver.vcxproj.FileListAbsolute.txt
SudokuSolver/x64/Debug/SudokuSolver.tlog/SudokuSolver.lastbuildstate
SudokuSolver/x64/Debug/SudokuSolver.tlog/link.write.1.tlog
SudokuSolver/x64/Debug/SudokuSolver.tlog/link.read.1.tlog
SudokuSolver/x64/Debug/SudokuSolver.tlog/link.command.1.tlog
SudokuSolver/x64/Debug/SudokuSolver.tlog/CL.write.1.tlog
SudokuSolver/x64/Debug/SudokuSolver.tlog/CL.read.1.tlog
SudokuSolver/x64/Debug/SudokuSolver.tlog/CL.command.1.tlog
SudokuSolver/x64/Debug/SudokuSolver.log
SudokuSolver/x64/Debug/SudokuSolver.exe.recipe
SudokuSolver/x64/Debug/SudokuSolver.Build.CppClean.log
SudokuSolver/x64/Debug/SudokuBuilder.obj
SudokuSolver/x64/Debug/Solver.obj
SudokuSolver/x64/Debug/main.obj
SudokuSolver/x64/Debug/group.obj.enc
SudokuSolver/x64/Debug/Group.obj
SudokuSolver/x64/Debug/Grid.obj
SudokuSolver/x64/Debug/Cell.obj
SudokuSolver/Debug/main.obj
SudokuSolver/Debug/SudokuSolver.exe.recipe
SudokuSolver/Debug/SudokuSolver.log
SudokuSolver/Debug/SudokuSolver.tlog/CL.command.1.tlog
SudokuSolver/Debug/SudokuSolver.tlog/CL.read.1.tlog
SudokuSolver/Debug/SudokuSolver.tlog/CL.write.1.tlog
SudokuSolver/Debug/SudokuSolver.tlog/link.command.1.tlog
SudokuSolver/Debug/SudokuSolver.tlog/link.read.1.tlog
SudokuSolver/Debug/SudokuSolver.tlog/link.write.1.tlog
SudokuSolver/Debug/SudokuSolver.tlog/SudokuSolver.lastbuildstate
SudokuSolver/Debug/vc142.idb
SudokuSolver/Debug/vc142.pdb
SudokuSolver/SudokuSolver.vcxproj.user
